:root {
    --grid-clr: rgb(52, 52, 56);
    --cell-size: clamp(12px, min(3.25vw, 3.25vh), 40px); /* I put a limit to 40px
    because, after a certain size of the grid, the border of the cells 
    (that is actually a box shadow) is no more clearly distinguishable. */
}

body {
    background-color: var(--grid-clr);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#grid {
    background-color: var(--grid-clr);
    margin: calc(3 * var(--cell-size)); /* I put this margin
    because I want to give the user enough space to leave a marker on a side. */
}

.row {
    display: flex;
}

.cell {
    width: var(--cell-size);
    aspect-ratio: 1;
    box-shadow: inset 0 0 1px white;
}

#palette {
    display: flex;
    gap: 1rem;
}

.marker-container {
    width: calc(3 * var(--cell-size));
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
}

.marker-container-hover {
    box-shadow: inset 0 0 5px black;
}

.marker {
    cursor: move;
    width: calc(2 * var(--cell-size));
    aspect-ratio: 1;
    z-index: 1;
    box-shadow: 0 0 2px black;
    position: absolute;
}

.marker-container:nth-child(3) .marker,
.marker-container:nth-child(4) .marker {
    box-shadow: 0 0 2px white;
}

#r {
    background-color: rgb(255, 0, 0);
}
#g {
    background-color: rgb(0, 255, 0);
}
#b {
    background-color: rgb(0, 0, 255);
}
#u {
    background-color: var(--grid-clr);
}

.r-- {
    background-color: rgb(255, 0, 0);
}
.-g- {
    background-color: rgb(0, 255, 0);
}
.--b {
    background-color: rgb(0, 0, 255);
}
.rg- {
    background-color: rgb(255, 255, 0);
}
.r-b {
    background-color: rgb(255, 0, 255);
}
.-gb {
    background-color: rgb(0, 255, 255);
}
.rgb {
    background-color: rgb(255, 255, 255);
}

/* vertical screen */
@media (max-aspect-ratio: 1/1) {
    body {
        flex-direction: column;
    }

    #palette {
        flex-direction: row;
    }
}

/* horizontal screen */
@media (min-aspect-ratio: 1/1) {
    body {
        flex-direction: row;
    }

    #palette {
        flex-direction: column;
    }
}
